
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

/* basics style settings */
html{
  background-color: black;
}

img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: "Raleway","Helvetica", arial, serif;
  font-size: 11px;
  color: grey;
}
.leipis {
  font-family: "Raleway","Helvetica", arial, serif;
  font-size: 13px;
  color: grey;
}
a {
  color: grey;
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: grey;
}

/* visited link */
a:visited {
  color: grey;
}
/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: grey;
}

/* useful custom classes */

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
